asgiref
certifi
crispy-bootstrap5
distlib
Django
django-crispy-forms
django-email
django-environ
dj_database_url
filelock
mysql-connector-python
numpy
opencv-contrib-python
packaging
pillow
pip
pipenv
platformdirs
psycopg2-binary
pyperclip
setuptools
sqlparse
virtualenv
djangorestframework